{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class = "row">
  <div class = "col-sm-12 col-xs-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Custom - Bubble Visualization</h1>
        </div>
      </div>
    </section>
  </div>
</div>

<div class= "row">
  <div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12">
  	<section class="panel" id= "custom-file">
    </section>
  </div>
</div>

<script>
$(document).ready(function(){
    var options = {
      "filename" : "{% static 'assets/data/bubbles.json' %}", //all
      "matrix" : null, //chordDiagram
      "yaxislabel" : "Mean Temperature (F)", //lineGraph
      "xaxis" : "PST", //lineGraph
      "yaxis" : "Mean TemperatureF" //lineGraph
    };
    zoomableCircle(options);
  });</script>
<script src="{% static 'js/master.js' %}"></script>
<script src="{% static 'js/unique.js' %}"></script>
{% endblock %}
