<!DOCTYPE html>
<html lang="en">
<html class="no-js">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VizNow</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class = "home_title">
    <span >
      VizNow
    </span>
  </div>

  <div class = "home_button">
    <span class = "background-yellow visualize_button">
      Enter!
    </span>
  </div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>

</body>


</html>