{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class = "row">
  <div class = "col-sm-12 col-xs-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>File Upload</h1>
        </div>
      </div>
    </section>
  </div>
</div>

<div class= "row">
  <div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12">
  	<section class="panel">
      <div class="panel-body">
        <div class="position-center">

        	




          

     



      </div>
    </div>
    </section>
  </div>
</div>

<script src="{% static 'js/unique.js' %}"></script>
{% endblock %}
