{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class = "row">
  <div class = "col-sm-12 col-xs-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>{{page}} Visualization</h1>
        </div>
      </div>
    </section>
  </div>
</div>

<div class= "row">
  <div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12">
  	<section class="panel">
      <div class="panel-body">
        <div class="position-center">

        	<div class= "form-group unique_bloomberg">
            <div class="col-lg-offset-1 col-lg-6">
              <div type="" class="btn btn-danger not-top unique_button" id="bloomberg_1">Bloomberg 1</div>
            </div>
            <div class="col-lg-5">
              <div type="" class="btn btn-danger not-top unique_button" id="bloomberg_2">Bloomberg 2</div>
            </div>
        	</div>

          <div class= "form-group unique_uber">
            <div class="col-lg-offset-1 col-lg-6">
              <div type="" class="btn btn-danger not-top unique_button" id ="uber_1">Uber 1</div>
            </div>
            <div class="col-lg-5">
              <div type="" class="btn btn-danger not-top unique_button" id="uber_2">Uber 2</div>
            </div>
          </div>

        	<div class = "unique_custom">
            <div class= "form-group">
              <div class="col-lg-4">
                <div class="btn btn-danger not-top unique_button" id= "custom_1">Data 1</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top unique_button" id= "custom_2">Data 2</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top unique_button" id= "custom_3">Data 3</div>
              </div>
            </div>

            <div class= "form-group">
              <div class="col-lg-4">
                <div class="btn btn-danger not-top unique_button" id= "custom_4">Data 4</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top unique_button" id= "custom_5">Data 5</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top unique_button" id= "custom_6">Data 6</div>
              </div> 
            </div> 
          </div> 



      </div>
    </div>
    </section>
  </div>
</div>

<script src="{% static 'js/unique.js' %}"></script>
{% endblock %}
