{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class = "row">
  <div class = "col-sm-12 col-xs-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Data Visualization</h1>
        </div>
      </div>
    </section>
  </div>
</div>

<div class= "row">
  <div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12">
  	<section class="panel">
      <div class="panel-body">
        <div class="position-center">
        	<div class= "form-group">
            <div class="col-lg-4 original">
              <div type="" class="btn btn-danger bloomberg_data secondary">Bloomberg Data</div>
            </div>
            <div class="col-lg-4 original">
              <div type="" class="btn btn-danger uber_data">Uber Data</div>
            </div>
            <div class="col-lg-4 original">
              <div type="" class="btn btn-danger custom_data">Custom Data</div>
            </div>
        	</div>

          	<!-- <div class= "form-group">
              <div class="col-lg-offset-1 col-lg-6">
                <div type="" class="btn btn-danger bloomberg_data not-top">Bloomberg Data</div>
              </div>
              <div class="col-lg-5">
                <div type="" class="btn btn-danger uber_data not-top">Uber Data</div>
              </div>
          	</div>

          	<div class= "form-group">
              <div class="col-lg-4">
                <div class="btn btn-danger not-top">Data</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top">Data</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top">Data</div>
              </div>
            </div>

            <div class= "form-group">
              <div class="col-lg-4">
                <div class="btn btn-danger not-top">Data</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top">Data</div>
              </div>
              <div class="col-lg-4">
                <div class="btn btn-danger not-top">Data</div>
              </div>
            </div> -->



       <!--    <div class = "form-group">
            <div class = "col-lg-2 not-top">
              x-coordinate: 
            </div>
            <div class = "col-lg-4">
              <select class="form-control m-bot15 not-top">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
            </div>
            <div class = "col-lg-2 not-top">
              y-coordinate: 
            </div>
            <div class = "col-lg-4">
              <select class="form-control m-bot15 not-top">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
            </div>
          </div> -->

     



      </div>
    </div>
    </section>
  </div>
</div>

<script src="{% static 'js/upload1.js' %}"></script>
{% endblock %}
