{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class = "row">
  <div class = "col-sm-12 col-xs-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>{{page}} {{id}} Visualization</h1>
        </div>
      </div>
    </section>
  </div>
</div>

<div class= "row">
  <div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12">
  	<section class="panel">
      <div class="panel-body">
        <div class="position-center">
        

        <form id = "visualization-form" class = "form" method = "post" action="">
          <div class="form-group">
            <label class="control-label col-lg-4" for="inputSuccess">Equity: </label>
            <div class="col-lg-9">
                <label class="checkbox-inline">
                    <input name="AAPL" type="checkbox" id="AAPL" value="AAPL"> AAPL US Equity
                </label>
                <label class="checkbox-inline">
                    <input name="MSFT" type="checkbox" id="MSFT" value="MSFT"> MSFT US Equity
                </label>
                <label class="checkbox-inline">
                    <input name="GOOG" type="checkbox" id="GOOG" value="GOOG"> GOOG US Equity
                </label>
                <label class="checkbox-inline">
                    <input name="IBM" type="checkbox" id="IBM" value="IBM"> IBM US Equity
                </label>
                <label class="checkbox-inline">
                    <input name="FB" type="checkbox" id="FB" value="FB"> FB US Equity
                </label>

            </div>
          </div>
          
          <div class = "form-group">
            
            <div class = "col-lg-6 not-top">
              y-coordinate: 
            </div>
            <div class = "col-lg-6">
              <select name = "list" class="form-control m-bot15 not-top">
                  <option id= "LAST_PRICE">Last Price</option>
                  <option id= "Volume">Volume</option>
                  <option id= "Open">Open</option>
                  <option id= "YESTERDAY_LAST_RATE">Yesterday's Last Rate</option>
              </select>
            </div>
          </div>
          
        <div class = "col-lg-offset-4 col-lg-8">
          <button type="submit" id= "visualize_it" class="btn btn-danger">Visualize It!</button>
        </div>
        
        </form>

      </div>
    </div>
    </section>
  </div>
</div>

<div class= "row">
  <div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12">
    <section class="panel">
      <div class="panel-body">
        <div class="position-center">
        MAPS GO HERE

      </div>
    </div>
    </section>
  </div>
</div>

<script src="{% static 'js/visualization.js' %}"></script>
<script src="{% static 'js/bloomberg.js' %}"></script>
{% endblock %}
